
@{
    ViewData["Title"] = "تماس  با ما";
}

<h1>تماس با ما</h1>
<hr/>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">راه های ارتباطی با ما</div>
            <div class="card-body">
                <h4 class="card-title">اطلاعات تماس</h4>
                <p class="card-text">09393255103</p>
                <p class="card-text">05138789259</p>
                <p class="card-text">rezabagheri3831@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="jumbotron">
            <h1 class="display-3">ارتباط با توسعه دهنده</h1>
            <p class="lead">شما می توانید از طریق راه های ارتباطی با توسعه دهنده این پروژه در تماس باشید .</p>
            <hr class="my-4">
            <p>تمامی حقوق این سایت متعلق به توسعه دهنده آن رضا باقری می باشد .</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">CopyRight 2021</a>
            </p>
        </div>
    </div>
</div>