@model IEnumerable<Product>

@{
    ViewData["Title"] = "فروشگاه اینترنتی من";
}

<div class="text-center">
    <h1 class="display-4">به فروشگاه ما خوش آمدید</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="card">
                    <img src="~/images/@(item.Id).jpg" class="card-img-top img-thumbnail" width="200" height="200" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <a asp-action="Detail"
                           asp-controller="Home"
                           asp-route-id="@item.Id"
                           class="btn btn-outline-info">جزئیات محصول</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
